APP_NAME=Future CRM Platform
ENV=dev
SECRET_KEY=troque-essa-chave
DATABASE_URL=postgresql+psycopg2://future_user:future_pass@postgres:5432/future_crm
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=http://localhost:5173,chrome-extension://*
SETUP_TOKEN=troque-esse-token-de-setup
